html, body {
    background-color: blueviolet;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
}

/* Nav and menu */
.navigation {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background: #E03D2C;
    padding: 10px;
}

.nav-links {
    display: flex;
}

.nav-links li {
    list-style: none;
    margin: 0 10px;
}

.nav-links li a {
    position: relative;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
}

.nav-links li a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0%;
    background: #f6d8bb;
    transition: all 0.4s ease;
    left:50%;
    transform: translateX(-50%);
}

.nav-links li a:hover:before {
    width: 100%;
}

.button-1 {
    width: 110px; 
    height: 40px;
    border-radius: 5px;
    border: 1px dashed #f6d8bb;
    outline: none;
    background-color: #E03D2C;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #f6d8bb;
    margin-left: 20px;
    cursor: pointer;
}

.button-1:hover {
    color: #fff;
    border-style: dashed;
    border-color: #fff;
}

.logo-1 {
    display: flex;
    width: 120px;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
}

/* Text */

.h-1 {
    color: #f6d8bb;
    font-size: 60px;
    margin-left: 80px;
    margin-top: 5px;
}

.h-2 {
    color: #f6d8bb;
    font-size: 30px;
    margin-left: 80px;
}

.main-image {
    max-width: 100%;
    height: auto;
}

.main-section {
    display: flex;
    align-items: center;
}

/* button */

.more {
    width: 90px; 
    height: 35px;
    border-radius: 5px;
    border: 1px groove #f6d8bb;
    outline: none;
    background-color: #E03D2C;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    color: #f6d8bb;
    margin-left: 5px;
    cursor: pointer;
}

.more:hover {
    border-style: groove;
    border-color: white;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

body {
    margin-bottom: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    width: 100%;
}

/* Footer */

footer {
    width: 100%;
    bottom: none;
    left: 0;
    background-color: #f6d8bb;
    box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 0 0;
    transition: background 0.3s linear;
}

.container {
    max-width: 1240px;
    bottom: 0;
    padding: 30px 40px;
    margin: auto;
    margin-top: 700px;
}

.content_footer  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

/* Logo footer */

.logo-size {
    width: 70px;
    height: 70px;
}

.profil .logo_area {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profil .logo_area img {
    border-radius: 50%;
    border: 1px solid #fff;
}

/* Text footer */

.footer_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

.copy_right a {
    color: #828282;
    margin-top: auto;
    margin-bottom: auto;
}

.copy_right span {
    color: #828282;
    margin-left: 3px;
    font-weight: 400;
    letter-spacing: 0.135rem;
}

.logo_area .logo_name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
    color: black;
}

.desc_area {
    max-width: 320px;
    margin-bottom: 1.25rem;
}

.desc_area p {
    color: #828282;
    font-weight: 300;
    line-height: 28px;
}

/* social media icon footer */

.social_media a {
    color: #828282;
    margin-right: 10px;
    font-size: 24px;
    top: 37px;
}

.social_media a:hover {
    color: #313131;
    transition: all 0.5s;
}

/* link footer */

.tou a {
    color: #828282;
    margin-left: 1.5rem;
}

.tou a:hover {
    color: #313131;
}

.service_area {
    display: flex;
}

.service_header  {
    margin-right: 40px;
}

li.service_name {
    color: #000;
    font-weight: 600;
}

.service_header li a {
    color: #828282;
    padding-bottom: 1px;
    font-weight: 400;
}

.service_header li a:hover {
    color: #313131;
}

.service_header li {
    margin-bottom: 10px;
}

hr {
    height: 1px;
    margin-top: 40px;
    border: none;
    background-color: #828282;
    margin-bottom: 1rem;
}

/* ScrollBar */

::-webkit-scrollbar {
    background-color: white;
    width: 6px;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb {
    background-color: blueviolet;
    border-radius: 3px;
}

/* Footer responsive */

@media screen and (max-width: 768px) {
    .content_footer {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_area {
        flex-wrap: wrap;
        justify-content: left;
    }

    .service_header {
        margin-left: 0;
        margin-right: 40px;
    }

    .social_media {
        margin-bottom: 1rem;
    }

    .footer_bottom {
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Home image */

.arman-img {
    max-width: 670px;
    height: auto;
    display: flex;
    float: right;
    margin-left: 10px;
}

/* Menu */

.toggleBox a img {
    filter: invert(1);
    margin-left: 2000px;
    z-index: 2000;
}

.icon-menu {
    z-index: 1000;
}

/* Responsive text, menu, footer, navbar, img */

@media (max-width: 968px) {
    .arman-img {
        display: none;
    }
}

@media (max-width: 562px){
    .arman-img {
        display: none;
    }

    section {
        background: #E03D2C;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }

    .nav-links li a:before {
        display: none;
    }

    nav.navigation {
        display: none;
        align-items: center;
        z-index: 1000;
    }

    nav.navigation.active {
        display: flex;
        justify-content: center;
        flex-direction: column;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #ffd3aa;
        font-size: 1px;
    }

    nav.navigation.active a {
        padding: 15px;
        font-size: 20px;
        font-weight: bold;
    }

    .navigation a {
        display: flex;
        margin-top: 0px;
    }

    .navigation ul {
        display: inline;
    }

    img.menu.hide {
        display: none;
    }

    img.close.show {
        display: none;
    }

    .logo-1 {
        display: none;
    }
}

/* Image home */

.main-image {
    max-width: 900px;
    height: auto;
}

/* Cards */

.container-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    position: relative;
    width: 300px;
    height: 250px;
    background: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card .imgbx {
    position: relative;
    width: 100%;
    height: 100%;
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card:hover .imgbx {
    width: 150px;
    height: 150px;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    background: #ff0057;
}

.card .imgbx::before {
    content: attr(data-text);
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 6em;
    color: rgba(255 , 255, 255, .05);
    font-weight: 700;
}

.card .imgbx img {
    max-width: 100%;
    transition: 0.5s ease-in-out;
}

.card:hover .imgbx img {
    max-width: 75px;
}

.card .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}

.card .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.card .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

/* Responsive Cards */

@media (max-width: 768px) {
    .container-card {
        justify-content: center;
    }

    .card {
        width: 250px;
    }
}

@media (max-width: 600px) {
    .card {
        width: 200px;
    }
}

@media (max-width: 450px) {
    .card {
        width: 100%;
    }
}
